In [3]:
import pandas as pd

data = pd.read_csv(
    "C:\\Users\\Vikas\\PUDF_base1_1q2012_tab.txt",
    delimiter="\t",
    header=0,
    dtype="str"
)

In [4]:
data.head()

,RECORD_ID,DISCHARGE,THCIC_ID,PROVIDER_NAME,TYPE_OF_ADMISSION,SOURCE_OF_ADMISSION,SPEC_UNIT_1,SPEC_UNIT_2,SPEC_UNIT_3,SPEC_UNIT_4,...,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,APR_GROUPER_VERSION_NBR,APR_GROUPER_ERROR_CODE,ATTENDING_PHYSICIAN_UNIF_ID,OPERATING_PHYSICIAN_UNIF_ID,ENCOUNTER_INDICATOR,CERT_STATUS,FILLER_SPACE
0,120120107482,2012Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,052,1,1,07290,00,9999999998,NaN,01,2,NaN
1,120120107487,2012Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,756,1,1,07290,00,9999999998,NaN,01,2,NaN
2,120120107568,2012Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,07290,00,9999999998,NaN,01,2,NaN
3,120120107381,2012Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,07290,00,9999999998,NaN,01,2,NaN
4,120120107410,2012Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,07290,00,9999999998,NaN,01,2,NaN